<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Электронная библиотека</title>

        <link rel="icon" href="bookopen.png" type="image/x-icon">
        <link href="/css/shop.css" rel="stylesheet" type="text/css">
    </head>

    <script src="https://kit.fontawesome.com/98db032af2.js" crossorigin="anonymous"></script>

</head>
<body>
<header>
    <div id="logo">
        <a href="">
            Электронная библиотека
        </a>
    </div>
    <input id="menu__toggle" type="checkbox">
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
    <nav class="menu__box">
        <div><a href="auth/login">Выход</a></div>
    </nav>
</header>
<main>
       <pre>





       </pre>
    <!--<h2 class="text-title" th:text="${JSON.stringify(book.findById(1).title)}"/>-->


    <div class="cardudup">
        <div class="card">
            <div class="card-img">
                <img src="https://bibliomo.ru/upload/opacembed/eac/64581575_vlastelin_kolets_t_2_3tt_dve_tverdyini_astrel.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Властелин колец</p>
                <p class="text-body">Джон Толкин</p>
                <p class="text-body">1955</p>
            </div>
            <div class="card-footer">
                <p class="text-body">фантастика</p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="https://www.moscowbooks.ru/image/book/615/orig/i615591.jpg?cu\u003d20180101000000" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Война и мир</p>
                <p class="text-body">Лев Толстой</p>
                <p class="text-body">1867</p>
            </div>
            <div class="card-footer">
                <p class="text-body">Роман</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://cdn1.ozone.ru/s3/multimedia-j/6379587259.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Сёгун</p>
                <p class="text-body">Джеймс Клавелл</p>
                <p class="text-body">1975</p>
            </div>
            <div class="card-footer">
                <p class="text-body">проза</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://cdn1.ozone.ru/s3/multimedia-r/6055024083.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Мастер и Маргарита</p>
                <p class="text-body">Михаил Булгаков</p>
                <p class="text-body">1940</p>
            </div>
            <div class="card-footer">
                <p class="text-body">роман</p>
            </div>

        </div>
        <div class="card">
            <div class="card-img">
                <img src="https://partlib.vl.muzkult.ru/media/2022/03/01/1292215568/optimize.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Мёртвые души</p>
                <p class="text-body">Николай Гоголь</p>
                <p class="text-body">1842</p>
            </div>
            <div class="card-footer">
                <p class="text-body">поэма</p>
            </div>   </div>
        <div class="card">
            <div class="card-img">
                <img src="https://g.pggcdn.net/product/1570904319129699492/w636/%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D0%9E%D0%BD%D0%B5%D0%B3%D0%B8%D0%BD.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Евгений Онегин</p>
                <p class="text-body">Александр Пушкин</p>
                <p class="text-body">1831</p>
            </div>
            <div class="card-footer">
                <p class="text-body">роман</p>
            </div>   </div>
        <div class="card">
            <div class="card-img">
                <img src="https://фантазеры.рф/wa-data/public/shop/products/63/09/40963/images/91170/91170.750x0.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">Отцы и дети</p>
                <p class="text-body">Иван Тургенев</p>
                <p class="text-body">1862</p>
            </div>
            <div class="card-footer">
                <p class="text-body">роман</p>
            </div>   </div>
        <div class="card">
            <div class="card-img">
                <img src="https://bookprose.ru/pictures/1016958317.jpg" alt="Обложка книги" width="60%" height="50%">
            </div>
            <div class="card-info">
                <p class="text-title">451 градус по Фаренгейту</p>
                <p class="text-body">Рэй Брэдбери</p>
                <p class="text-body">1953</p>
            </div>
            <div class="card-footer">
                <p class="text-body">роман</p>
            </div>   </div>
    </div>



</main>

<div class="task_4">
    <footer>
        <div class="about" id="T4_item_1">
            <h3>About Us</h3>
            <p>
                "Электронная библиотека" - сайт с быстрым удобным доступом к книгам, рады видеть вас снова!
            </p>
        </div>
        <div class="links" id="T4_item_2">
            <h3>Quick Links</h3>
            <ul>
                <li>About</li>
                <li>Interesting Facts</li>
                <li>Contacts</li>
                <li><a href="reg.html">Login</a></li>
            </ul>
        </div>
        <div class="shop" id="T4_item_3">
            <h3>Shop</h3>
            <ul>
                <li><a href="shop.html">books</a></li>
            </ul>
        </div>
        <div class="contacts" id="T4_item_4">
            <h3>Contact Us</h3>
            <ul>
                <li>Алтуфьево, 2</li>
                <li>8 965 340 32 63</li>
                <li>8 965 340 32 63</li>
                <li>apl2612@mail.ru</li>
            </ul>
        </div>
    </footer>
</div>

</footer>
</body>

</html>